/* 添加基本样式 */
body {
    font-family: Arial, sans-serif;
}

#wrapper {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.device {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px; /* 增加设备之间的间距 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #28a745; /* 更改为绿色 */
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.connect-btn {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.status-dot {
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* 增加与下方的间距 */
}

.logo-text {
    margin-bottom: 10px; /* 增加与设备管理标题的间距 */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px; /* 增加与下方的间距 */
}